body {
    width: 100vw;
    min-height: 100vh;
    background: rgb(116, 6, 6);
    background-image: url(../assets/imgs/bg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-position: center;
}
